/* B.Wiki style */

body {
    font-size: 14px;
    font-family:'Georgia', serif;
}
body p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 14px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Garamond', 'Georgia', serif;
    margin: 0px;
}
li {
    line-height: 22px;
}
a {
    color: #9B2D20;
    text-decoration: none;
}
a:hover {
    color: #9B2D20;
    text-decoration: underline;
}
code {
    border: 0px;
}
pre {
    border: 0px;
    width: 90%;
}
.navbar .container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.navbar .brand {
    color: #000;
    font-size: 26px;
    padding: 12px 20px 8px;
    text-decoration: none;
    font-family: 'Garamond', 'Georgia', serif;
}
.page-header {
    padding-bottom: 0px;
    margin: 20px 0px;
    border-bottom: 1px dashed #000;
}
.footer {
    margin-top: 30px;
    padding-top: 5px;
}
.footer p {
    font-size: 13px;
}

