/* B.Wiki style */

body {
    font-size: 14px;
}
body p {
    font-size: 14px;
    line-height: 22px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li {
    line-height: 22px;
}
a {
    color: #9B2D20;
    text-decoration: underline;
}
a:hover {
    color: #9B2D20;
    text-decoration: underline;
}
.navbar .container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.navbar .brand {
    color: #fff;
    font-size: 26px;
    padding: 8px 20px 6px;
    text-decoration: none;
    font-family: 'Garamond', 'Georgia', serif;
}
.page-header {
    padding-bottom: 4px;
    border-bottom: 1px dashed #000;
}
.footer {
    margin-top: 40px;
    padding-top: 5px;
    padding-left: 10px;
    border-top: 1px dashed #000;
}
.footer p {
    font-size: 13px;
}

